<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

  <!-- <select parameterType="map" id="consultarIntemRentado" resultMap="ItemRentadoResult">
		select c.nombre as c_nombre, c.documento as c_documento, c.telefono as c_telefono, c.direccion as c_direccion, c.email as c_email, c.vetado as c_vetado, ir.id as ir_id, ir.fechainiciorenta as ir_fechainiciorenta, ir.fechafinrenta as ir_fechafinrenta, i.id as itemId, i.nombre as i_nombre, i.descripcion as i_descripcion, i.fechalanzamiento as i_fechaLanzamiento, i.tarifaxdia as i_tarifaxdia, i.formatorenta as i_formatorenta, i.genero as i_genero, ti.id as ti_id, ti.descripcion as ti_descripcion
    FROM VI_CLIENTES as c left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento left join VI_ITEMS as i on ir.ITEMS_id=i.id left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id;
  </select> -->
    <!-- Item Prestado -->
  <resultMap id="ItemRentadoResult" type="ItemRentado">
    <id property="id" column="id"/>
    <result property="fechainiciorenta" column="fechainiciorenta"/>
    <result property="fechafinrenta" column="fechafinrenta"/>
    <association property="item" javaType="Item" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult" columnPrefix="i_"/>
  </resultMap> 

</mapper>